body{
    font-family: sans-serif;
  }
  /* this is making each object look how they look */
  header{
    background-color: rgb(184, 231, 249);
    padding: 20px;
    
    margin-bottom: 30px;
    font-size: 17px;
  }
  label{
    font-size: 30px;
    margin-left:60px;
  }
  /* change fonts and sizes */
  select{
    font-family: sans-serif;
    font-size: 25px;
  }
  input{
    font-family: sans-serif;
    font-size: 20px;
  }
  button{
    background-color: rgb(184, 231, 249);
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
    margin-top: -250px;
    margin-right: -200px;
    float: right
  }
  .outputBox{
    padding: 10px;
    min-height: 160px;
    width: 40%;
     outline-color: rgb(184, 231, 249);
    outline-style: solid;
    float: right;
    margin-top: -150px;
    margin-right: 40px;
  
  }
  